<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990064363330-uik412k5le3sh8495ce8kfsba29j9022.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990064363330-uik412k5le3sh8495ce8kfsba29j9022</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990064363330-1g66e65o8bg6vb1plh21fk8lqcmrrbrr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOUgUGk7KSFipb9A-dH0Y1xopjenhCICY</string>
	<key>GCM_SENDER_ID</key>
	<string>990064363330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findall.findall.finDall</string>
	<key>PROJECT_ID</key>
	<string>fin-dall-7c84d</string>
	<key>STORAGE_BUCKET</key>
	<string>fin-dall-7c84d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990064363330:ios:cfdc2155270d3b5a93eadb</string>
</dict>
</plist>